
span{
    color: white;
    margin-right: 20px;
}
.nav-bar{
    /* margin-top: 10px;
    margin-bottom: 20px; */
    
    position: fixed;
    z-index: 1;
    /* top: 0; */
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
}